// // .btn.btn-outline-danger {
// //   margin-left: 1rem;
// // }

// // .card-img-top {
// //   object-fit: cover;
// //   height: 200px;
// // }

// // .table-image {
// //   width: 75px;
// //   height: 75px;
// //   object-fit: cover;
// // }

.cart-table {
  flex-direction: column;
  display: flex;
  min-height: 6.625rem;
  padding: 0.75rem;
  position: relative;
  background-color: #fff;

  .cart-tbody {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .cart-checkbox {
      position: relative;
      height: 100%;
      top: 5rem;
      left: 0.5rem;
    }

    .cart-img {
      position: relative;
      margin-left: 3rem;
      top: 0rem;

      .table-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }

    .cart-title {
      position: relative;
      left: 16rem;
      top: -6rem;
      width: 150px;
      font-size: 1.2rem;
    }

    .cart-qty {
      position: relative;
      margin-left: 40rem;
      top: -8rem;

      .form-select {
        width: 200px;
      }
    }

    .cart-total {
      position: relative;
      left: 54rem;
      top: -10.2rem;
      font-size: 1.3rem;
    }

    .cart-delete {
      position: relative;
      margin-left: 70rem;
      top: -14rem;
    }
  }

  .lump-sum {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
  }
}

@media (max-width: 1400px) {
  .cart-table {
    flex-direction: column;
    display: flex;
    min-height: 6.625rem;
    padding: 0.75rem;
    position: relative;
    background-color: #fff;

    .cart-tbody {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 80%;

      .cart-checkbox {
        position: relative;
        height: 100%;
        top: 2rem;
        left: 0.5rem;
      }

      .cart-img {
        position: relative;
        margin-left: 3rem;
        top: 0rem;

        .table-image {
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
      }

      .cart-title {
        position: relative;
        left: 10rem;
        top: -5rem;
        width: 150px;
        font-size: 1.2rem;
      }

      .cart-qty {
        position: relative;
        margin-left: 30rem;
        top: -6.6rem;
        width: 6rem;

        .form-select {
          width: 200px;
        }
      }

      .cart-total {
        position: relative;
        left: 45rem;
        top: -9rem;
        font-size: 1.3rem;
      }

      .cart-delete {
        position: relative;
        margin-left: 60rem;
        top: -11rem;
      }
    }

    .lump-sum {
      display: flex;
      justify-content: flex-end;
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1024px) {
  .cart-table {
    flex-direction: column;
    display: flex;
    min-height: 6.625rem;
    padding: 0.75rem;
    position: relative;
    background-color: #fff;

    .cart-tbody {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 80%;

      .cart-checkbox {
        position: relative;
        height: 100%;
        top: 2rem;
        left: 0.5rem;
      }

      .cart-img {
        position: relative;
        margin-left: 3rem;
        top: 0rem;

        .table-image {
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
      }

      .cart-title {
        position: relative;
        left: 10rem;
        top: -5rem;
        width: 150px;
        font-size: 1.2rem;
      }

      .cart-qty {
        position: relative;
        margin-left: 30rem;
        top: -6.6rem;
        width: 6rem;

        .form-select {
          width: 200px;
        }
      }

      .cart-total {
        position: relative;
        left: 37rem;
        top: -9rem;
        font-size: 1.3rem;
      }

      .cart-delete {
        position: relative;
        margin-left: 50rem;
        top: -11rem;
      }
    }

    .lump-sum {
      display: flex;
      justify-content: flex-end;
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1199.98px) {
  .cart-table {
    flex-direction: column;
    display: flex;
    min-height: 6.625rem;
    padding: 0.75rem;
    position: relative;
    background-color: #fff;

    .cart-tbody {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 80%;

      .cart-checkbox {
        position: relative;
        height: 100%;
        top: 2rem;
        left: 0.5rem;
      }

      .cart-img {
        position: relative;
        margin-left: 2rem;
        top: 0rem;
      }

      .cart-title {
        position: relative;
        left: 7.8rem;
        top: -5rem;
        width: 200px;
        // overflow: hidden;
        /* 隱藏超出容器的文字 */
        // white-space: nowrap;
        /* 防止文字換行 */
        // text-overflow: ellipsis;
        /* 在文字溢出時顯示省略號 */
      }

      .cart-qty {
        position: relative;
        left: -4rem;
        top: -6.6rem;

        .form-select {
          width: 120px;
        }
      }

      .cart-total {
        position: relative;
        left: 34rem;
        top: -9rem;
      }

      .cart-delete {
        position: relative;
        left: -1rem;
        top: -13.2rem;
      }
    }

    .lump-sum {
      display: flex;
      justify-content: flex-end;
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 820px) {
  .cart-table {
    flex-direction: column;
    display: flex;
    min-height: 6.625rem;
    padding: 0.75rem;
    position: relative;
    background-color: #fff;

    .cart-tbody {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 80%;

      .cart-checkbox {
        position: relative;
        height: 100%;
        top: 3rem;
        left: 0.5rem;
      }

      .cart-img {
        position: relative;
        margin-left: 2rem;
        top: 0rem;
      }

      .cart-title {
        position: relative;
        left: 7.8rem;
        top: -5rem;
        // width: 200px;
        overflow: hidden;
        /* 隱藏超出容器的文字 */
        white-space: nowrap;
        /* 防止文字換行 */
        text-overflow: ellipsis;
        /* 在文字溢出時顯示省略號 */
      }

      .cart-qty {
        position: relative;
        left: -22rem;
        top: -4.6rem;
        width: 6rem;

        .form-select {
          width: 100%;
        }
      }

      .cart-total {
        position: relative;
        left: 22rem;
        top: -9rem;
      }

      .cart-delete {
        position: relative;
        left: -15rem;
        top: -13.2rem;
      }
      .lump-sum {
        display: flex;
        justify-content: flex-end;
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .cart-table {
    flex-direction: column;
    display: flex;
    min-height: 6.625rem;
    padding: 0.75rem;
    position: relative;
    background-color: #fff;

    .cart-tbody {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 80%;

      .cart-checkbox {
        position: relative;
        height: 100%;
        top: 2rem;
        left: 0.5rem;
      }

      .cart-img {
        position: relative;
        margin-left: 2rem;
        top: 0rem;
      }

      .cart-title {
        font-size: 1rem;
        position: relative;
        left: 7.6rem;
        top: -5rem;
        width: 150px;
        overflow: hidden;
        /* 隱藏超出容器的文字 */
        white-space: nowrap;
        /* 防止文字換行 */
        text-overflow: ellipsis;
        /* 在文字溢出時顯示省略號 */
      }

      .cart-qty {
        position: relative;
        left: -22.4rem;
        top: -4rem;
        width: 6rem;

        .form-select {
          width: 100%;
        }
      }

      .cart-total {
        position: relative;
        left: 7.8rem;
        top: -3rem;
        font-size: 1rem;
      }

      .cart-delete {
        position: relative;
        left: -36rem;
        top: -9.6rem;

        justify-content: space-between; /* Adjusts the positioning of child elements */
        align-items: center; /* Aligns child elements vertically */
      }
      .lump-sum {
        display: flex;
        justify-content: flex-end;
        font-size: 1.3rem;
      }
    }
  }
}
